.wardrobe0 img {
  height: 210px;
  border: 1px solid black
}


img.active {
  opacity: .5;
  background-color: yellow;
  border: 3px solid black;
  height: 200px;
}

form button {
  border: 1px solid black;
  border-radius: 4px;
  padding: 1em;
  display: inline-block;
  background-color: white;
}
